.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__menu {
    width: 36px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.header__container {
    display: flex;
    align-items: center;
}

.container__img {
    padding: 0.6em;
}

.container__button{
    display: none;
}

.menu__list {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.menu__list__categorias, .menu__list__item{
    padding: 1em;
    background-color: var(--white);
}

.menu__list__categorias{
    color: var(--orange);
    font-weight: 700;
}

.item__link{
    background: var(--blue-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__button:checked ~ .menu__list {
    display: block;
}