.topics{
    background: var(--blue-degrade);
    text-align: center;
    padding: 2em 1em;
}

.topics__title{
    font-weight: 300;
    color: var(--white);
    margin-bottom: 1em;
}

.topics__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__list__item{
    margin: 1.5em 0.5em;
}

.topics__list__link{
    color: var(--white);
    text-decoration: none;
    padding: 0.7em 1.4em;
    background-color: var(--orange);
    font-size: 14px;
    font-weight: 700;
}

/* Responsiveness */

@media screen and (min-width: 1024px){

    .topics{
        padding: 4em 1em;
    }
    .topics__title{
        font-size: 24px;
    }

    .topics__list__link{
        font-size: 24px;
    }

    .topics__list__item{
        margin: 2em 0.5em;
    }
}